@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

  body {
    background-color: #F8F9F9;
    font-family: 'Mitr', sans-serif;
  }

  .relacionar {
    font-size: 0.8em;
    font-family: Calibri, sans-serif;
  }

  #container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  }

  #home {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    min-height: 100vh;
    min-width: 700px;
    max-width: 100%;
    overflow-y: auto;
    background-color: #FFF;
  }

  #instrucoes {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    min-width: 400px;
    max-width: 100%;
    overflow-y: auto;
    background-color: #2C3E50;
  }

  @media (max-width: 1200px)
  {
    #container {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    #home, #instrucoes {
      min-height: 100vh;
      min-width: 100%;
    }
  }

  @media (max-width: 800px)
  {
    #container {
      width: 100%;
    }
  }

  .justify {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .acesso-restrito {
    position: absolute;
    top: 0;
    left: 20px;
  }

  .corpright {
    top: 0;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: #D98880;
  }

  .instrutor {
    line-height: 1;
  }

  .textCenter {
    text-align: center;
  }

  h1 {
    color: #2C3E50;
    font-family: 'Bowlby One SC', cursive;
  }

  h5 {
    line-height: 1.2;
    color: #D98880;
  }

  h2, h3 {
    text-align: center;
    color: #F2F3F4;
  }

  .btn {
    margin: 5px;
  }

  .eventTitle {
    text-align: center;
  }
  
  /* STRUCTURE */
  
  form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .formColumn {
    flex-direction: column;
  }

  form > span.full {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  form > span.resp50 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 5px);
  }

  form.adminSet {
    display: inline-block;
    width: 70px;
  }

  .thisImage > span > .btn, .adminSet > button {
    transform: scale(0.8);
    margin: 0;
  }

  .marginR5 {
    margin-right: 10px;
  }

  form > span {
    position: relative;
    display: flex;
    align-items: center;
  }

  form > span > i {
    left: 10px;
    position: absolute;
  }

  form.login {
    padding: 25px 0 0 0;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  /* FORM TYPOGRAPHY*/
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=text]:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=file]:hover, select:hover, input[type=tel]:hover, input[type=date]:hover  {
    background-color: #B1CDE0;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active, input[type=file]:active, input[type=tel]:active, input[type=date]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password], input[type=file], select, input[type=tel], input[type=date] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, select:focus, input[type=tel]:focus, input[type=date]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=password]:placeholder, input[type=tel]:placeholder, input[type=date]:placeholder {
    color: #cccccc;
  }

  /* OTHERS */  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .img-thumbnail {
    margin: auto;
  }