  #container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  #home {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 50px;
    min-width: 400px;
    max-width: 500px;
    overflow-y: auto;
  }

  @media (max-width: 1000px)
  {
    #container {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    #home {
      padding: 50px;
    }
  }

  #instrucoes {
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 50px;
    min-width: 400px;
    max-width: 500px;
    background-color: #2C3E50;
  }

  .justify {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .acesso-restrito {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .instrutor {
    line-height: 1;
  }

  h1 {
    color: #2C3E50;
  }

  h5 {
    line-height: 1.2;
    color: #D98880;
  }

  h2, h3, h6 {
    text-align: center;
    color: #F2F3F4;
  }

  .btn {
    margin: 5px;
  }

  .eventTitle {
    text-align: center;
  }
  
  /* STRUCTURE */
  
  form {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
  }

  form > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  form.login {
    padding: 25px 0 0 0;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  /* FORM TYPOGRAPHY*/
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=text]:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=file]:hover, select:hover, input[type=tel]:hover  {
    background-color: #B1CDE0;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active, input[type=file]:active, input[type=tel]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password], input[type=file], select, input[type=tel] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, select:focus, input[type=tel]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder, input[type=password]:placeholder, input[type=tel]:placeholder {
    color: #cccccc;
  }

  /* OTHERS */  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }

  .btn {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }